---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

const categories = await getCollection("categories");
categories.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<div
  class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 auto-rows-[minmax(0,auto)]"
>
  {
    categories.map((tags) => (
      <Card title={tags.data.title} href={`/t/${tags.id}`}>
        {tags.data.description}
      </Card>
    ))
  }
</div>
