---
import Nav from "./Nav.astro";
import Search from "./Search.astro";

const patternCategories = [
  { label: "Component Patterns", href: "/patterns/component" },
  { label: "Performance Patterns", href: "/patterns/performance" },
  { label: "State Management Patterns", href: "/patterns/state-management" },
  { label: "Accessibility Patterns", href: "/patterns/accessibility" },
  { label: "Testing Patterns", href: "/patterns/testing" },
  { label: "Data Fetching Patterns", href: "/patterns/data-fetching" },
  { label: "Security Patterns", href: "/patterns/security" },
];
---

<header
  class="w-full flex flex-wrap items-center justify-between gap-y-2 text-balance sticky top-0 bg-slate-50 dark:bg-slate-950 py-2 md:py-5 border-b border-slate-200 dark:border-slate-800"
>
  <div
    class="relative max-w-4xl mx-auto flex justify-between items-center gap-2 w-full px-4"
  >
    <h1
      class="text-sm md:text-base font-semibold uppercase tracking-[0.1em] text-sky-800 dark:text-sky-200 py-2 md:py-0"
    >
      <a href="/">Frontend Patterns</a>
    </h1>

    <Nav patternCategories={patternCategories} class="mr-12" />

    <div class="absolute end-0 -top-1">
      <Search variant="small" />
    </div>
  </div>
</header>
