---
import Search from "./Search.astro";
---

<header
  class="relative w-full flex justify-between content-center text-balance sticky top-0 bg-slate-50 dark:bg-slate-950 py-0 md:py-5"
>
  <h1
    class="text-sm md:text-base font-medium uppercase tracking-[0.2em] text-sky-700 dark:text-sky-300"
  >
    <a href="/">Frontend Patterns</a>
  </h1>

  <div class="absolute end-0 -top-3 md:top-2">
    <Search variant="small" />
  </div>
</header>
