---
import "../styles/global.css";
import PlausibleAnalytics from "../components/PlausibleAnalytics.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

const {
  showHeader = true,
  title,
  metaDescription = "A comprehensive, living pattern library for modern frontend architecture.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={metaDescription} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>
      {title ? title + " - Frontend Patterns" : "Frontend Patterns"}
    </title>
    <PlausibleAnalytics />
    <ClientRouter />
  </head>
  <body
    class="min-h-screen bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased"
  >
    <main class="w-full pb-8">
      {showHeader && <Header />}
      <div class="max-w-4xl mx-auto w-full flex flex-col gap-12 pb-8 px-4">
        <slot />
      </div>
      <footer
        class="max-w-4xl mx-auto w-full pt-8 px-4 text-sm text-slate-600 dark:text-slate-400"
      >
        © {new Date().getFullYear()}. Curated by
        <a href="https://denodell.com" target="_blank" class="underline"
          >Den Odell</a
        >
      </footer>
    </main>
  </body>
</html>
