---
import "../styles/global.css";
import PlausibleAnalytics from "../components/PlausibleAnalytics.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

const { showHeader = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A comprehensive, living pattern library for modern frontend architecture."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Frontend Patterns</title>
    <PlausibleAnalytics />
    <ClientRouter />
  </head>
  <body
    class="min-h-screen bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 antialiased"
  >
    <main
      class="mx-auto flex w-full max-w-4xl flex-col gap-12 px-3 md:px-6 py-8 md:py-16"
    >
      {showHeader && <Header />}
      <slot />
      <footer class="pt-8 text-sm text-slate-600 dark:text-slate-400">
        © {new Date().getFullYear()}. Curated by
        <a href="https://denodell.com" target="_blank" class="underline"
          >Den Odell</a
        >
      </footer>
    </main>
  </body>
</html>
